.instructions li:hover{
    background-color: #f5edff;
    .fas {
    padding: 10px;
    color: $primary-color;
    }
}



.card-icon{
    position: relative;
    font-size: 15px;
  }

.card-icon:after {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 0;
    transform: scale(0);    
    transition: all 0.2s ease;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #ff79da, #9356dc);
    background-clip: text;;
}

.card-icon:hover:after {
    transform: scale(1);
    scale: 1;
  }











