.card-icon:hover{
    i.fa-heart{
        background-color:gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));;
        background-clip: text; 
      } 
    }

 
.instructions li:hover{
    background-color: #f5edff;
    .fas {
    padding: 10px;
    color: $primary-color;
    }
}