.restaurant-img{
    background-size: cover;
    background-position: center;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
}
    
.restaurant-card{
    margin-top: -40px;
    padding: 15px;
    background-color: #f6f6f6;
    justify-content: space-around;
    border-radius: 30px;
}

.restaurant-info{
        border-radius: 20px;
        padding: 5px;
        .far{
            justify-content: flex-end;
        }
    }

.menu-item{
    display: flex;
    border-radius: 10px;
    background-color: white;
    margin: 10px auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    text-overflow: ellipsis;
    .menu-title{
        padding: 10px;
        font-size: 14px;
        text-overflow: ellipsis;
    }
    .menu-price{
        align-items: flex-end;
        padding: 10px;
        align-self: flex-end;
        

    }
    .menu-icon{
        float: right;
        height: auto;
        margin: 0 0 0 0;
        background-color: #99e2d0;
        color: white;
        padding: 15px 15px 15px 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

course{
    text-decoration: #99e2d0 underline;
}