.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  animation: homepage-loading 3s ease 3.5s forwards 1;
}

@keyframes homepage-loading {
  0% {
    opacity: 100%;
  }

  99% {
    width: 100vw;
    height: 100vh;
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}


.loader-animation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  .fas {
    color: white;
    font-size: 10vh;
    height: 100%;
    margin: 0 auto;
  }
}

.loader-title {
  font-size: 3vh;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0 auto;
  animation: disappear 1s ease 3s forwards 1;
  opacity: 50%;
}


@media only screen and (min-width : 980px) {
  .loader-animation {
    flex-direction: row;
  }
  .loader-title {
    text-align: right;
    padding-right: 100px;
  }
}


.l1 {
  animation: disappear 0.5s ease 0s forwards 1;
  opacity: 50%;
}
.l2 {
  animation: disappear 0.5s ease 0.5s forwards 1;
  opacity: 50%;
}
.l3 {
  animation: disappear 0.5s ease 1s forwards 1;
  opacity: 50%;
}
.l4 {
  animation: disappear 0.5s ease 1.5s forwards 1;
  opacity: 50%;
}

.l5 {
  animation: disappear 0.5s ease 2s forwards 1;
  opacity: 50%;
}

.l6 {
  animation: disappear 0.5s ease 2.5s forwards 1;
  opacity: 50%;
}

@keyframes disappear {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 10%;
  }
}



//instructions
.instructions li:hover{
    background-color: #f5edff;
    .fas {
    padding: 10px;
    color: $primary-color;
    }
}

//homepage heart icon
.card-icon {
    font-size: 20px;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
  }
.card-icon i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

a:visited .card-icon i.fa-heart {
  color: black;
}

a .card-icon i.heart-fill {
    content: "\F08A";
    position: absolute;
    scale: 0;
    transform: scale(0);
    transition: all 0.2s ease;
  }
.card-icon i.heart-fill:before {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ff79da, #9356dc);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    background-clip: text;
    -webkit-background-clip: text;
  }
.card-icon:hover i.heart-fill {
    scale: 1;
    transform: scale(1);
  }


//menu check icon
.item-icon{
  opacity: 0;
}
.item-icon{
  transform: translate(100%);
  transition: all 0.3s ease;
}
.item:hover .item-icon{
  transform: translate(0);
  opacity: 100%;
  margin-right: 0%;
  .fas{
    animation: rotation 0.3s linear;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


//menu loading page
.item{
  animation: menu-loading 2s cubic-bezier(0.1, -0.6, 0.2, 0) 0s 1;
}


@keyframes menu-loading {
  0% {
    transform: translatey(100%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 100%;
  }
}


  
