//instructions
.instructions li:hover{
    background-color: #f5edff;
    .fas {
    padding: 10px;
    color: $primary-color;
    }
}

//homepage favourite icon
.card-icon {
    font-size: 20px;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
  }
  .card-icon i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .card-icon i.heart-fill {
    z-index: 2;
    content: "\F08A";
    position: absolute;
    scale: 0;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  .card-icon i.heart-fill:after {
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ff79da, #9356dc);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    background-clip: text;
    -webkit-background-clip: text;
  }
  .card-icon:hover i.heart-fill {
    scale: 1;
    transform: scale(1);
  }






