header{
    display: flex;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    img{
        padding: 10px;
        object-fit: contain;
        display: block;
        margin: 0 auto;
        
    }
}

footer{
    background-color: #353535;
    color: white;
    padding: 20px;
    line-height: 25px;

}
