/* ipad */
@media only screen and (min-width: 768px) {
  .loader-animation {
    flex-direction: row;
  }
  .loader-title {
    text-align: right;
    padding-right: 25px;
  }
  .card{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 10%;
  }
  .restaurant-cards{
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
  .card{
      width: 45vw;
      height: 27vh;
    } 
  .card-img{
      height: 20vh;
    }
  }
  .instruction-list{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 27vw;
  }
}
.item-group{
  display: flex;
  flex-wrap: wrap;
.item{
  width: 30vw;
  height: 6vh;
}
}

.restaurant-img{
  height: 25vh;
}

}

/* desktop */
@media only screen and (min-width: 1024px) { 

}







