$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

h1{
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


li, span, a, p{
    font-size: 14px;
}

@mixin button{
    color: white;
    background: linear-gradient(to bottom, $secondary-color 0%, $primary-color 100%);
    border-radius: 15px;
    padding: 10px;
    border: none;
    text-decoration: none;
}


a{
    text-decoration: none;
    &:hover{
        text-transform: capitalize;
    }
    &:active{
        text-decoration: underline $primary-color;
    }
}