h1 {
  font-family: 'Shrikhand', cursive;
}

h2 {
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

li, span, a, p {
  font-size: 14px;
}

a {
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  color: black;
}

a:hover {
  text-transform: capitalize #FF79DA;
}

a:visited {
  -webkit-text-decoration: underline #9356DC;
          text-decoration: underline #9356DC;
  color: #9356DC;
}

a:filter(.card-icon) {
  color: transparent;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

header .fas {
  width: 10%;
  padding: 20px;
  margin: 0;
}

header img {
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  line-height: 25px;
}

footer h1 {
  padding: 1px 0 10px 0;
}

footer a {
  color: white;
}

nav {
  background-color: #eaeaea;
  padding: 10px;
  line-height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .search-txt {
  border: none;
  background-color: #eaeaea;
  padding: 5px 5px 5px 10px;
}

.call-to-action {
  background-color: #f6f6f6;
  line-height: 20px;
  padding: 15px;
  text-align: center;
}

.call-to-action p {
  padding: 10px;
}

.call-to-action p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.call-to-action .explore-btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  border-radius: 15px;
  padding: 10px;
  border: none;
  text-decoration: none;
  padding: 10px;
}

.instructions {
  padding: 15px;
}

.instructions li {
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  margin: 15px auto;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.instructions li .fas {
  padding: 10px;
  color: #7e7e7e;
}

.roundnumber {
  margin-left: -20px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px 8px 5px 8px;
  color: white;
}

.restaurants {
  padding: 15px;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  position: relative;
  border-radius: 25px;
  background-color: white;
  margin: 10px auto;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-info {
  width: 80%;
  padding: 10px 0 10px 10px;
}

.card-title {
  font-weight: bold;
}

.card-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-label {
  background: #99E2D0;
  position: absolute;
  width: 20%;
  padding: 5px;
  top: 5%;
  left: 75%;
  text-align: center;
  color: #0d8f6f;
  border-radius: 10%;
  font-weight: bold;
}

.restaurant-img {
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

.restaurant-card {
  margin-top: -40px;
  padding: 15px;
  background-color: #f6f6f6;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 30px;
}

.restaurant-info {
  border-radius: 20px;
  padding: 5px 0 20px 5px;
}

.restaurant-info .far {
  float: right;
  padding: 10px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin: 10px auto;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.item .item-info {
  width: 80%;
  padding: 10px;
  font-size: 14px;
}

.item .item-info p {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item .item-info .item-title {
  font-weight: bold;
}

.item .item-price {
  width: 10%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item .item-icon {
  visibility: collapse;
  float: right;
  height: 100%;
  margin: 0 0 0 0;
  background-color: #99e2d0;
  color: white;
  padding: 15px 15px 15px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.course-name {
  position: relative;
  padding-top: 20px;
}

.course-name::before {
  content: "";
  position: absolute;
  width: 30px;
  bottom: -5px;
  border-bottom: 2px solid #99e2d0;
}

.order-btn {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  border-radius: 15px;
  padding: 10px;
  border: none;
  text-decoration: none;
  text-align: center;
  width: 20%;
  margin: 0 auto;
}

.order-btn a:visited {
  color: white;
}

.instructions li:hover {
  background-color: #f5edff;
}

.instructions li:hover .fas {
  padding: 10px;
  color: #9356DC;
}

.card-icon {
  font-size: 20px;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.card-icon i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-icon i.heart-fill {
  content: "\F08A";
  position: absolute;
  scale: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card-icon i.heart-fill:after {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-clip: text;
  -webkit-background-clip: text;
}

.card-icon:hover i.heart-fill {
  scale: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */