@import '_variables-mixins.scss';
@import '_header-footer.scss';
@import '_homepage.scss';
@import '_menu.scss';
@import '_animation.scss';

//checkmark animation is going over not pushing aside. 
//
